@font-face{
    font-family: 'title';
    src:url('../img/FZShengSKSJW_0.TTF');
}
@font-face{
    font-family: 'normal';
    src:url('../img/FZShengSKSJW.TTF');
}
*::-webkit-scrollbar { width: 0 !important }
html{
    text-align: center;
    overflow: scroll;
    font-family: 'normal';
}
body{
margin: 0;
background-color: #232121;
}
#first {
    background-image: url(../img/index.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 120%;
    text-align: center;
    padding-top: 150px;
}
#first>h3 {
    font-family: 'title';
    font-size: 8vw;
    color: #d8ad73;
    /* padding-bottom: 20vw; */
    /* position: absolute; */
    /* left: 10%; */
    padding-left: 10%;
    padding-right: 10%;
}

#search_bar0 {
    margin: 0;
    width: 60%;
    margin-left: 20%;
    /* position: absolute; */
    /* top: 40%; */
    /* left: 25%; */
}
#search0 {
    width: 2rem;
    float: right;
    margin-top: -2.2rem;
    margin-right: -2.5rem;
    outline: none;
}
/* #index_back {
    width: 100%;
    height: 120%;
    position: absolute;
    left: 0;
    top: 0;
} */
#close{
    width: 5%;
    margin-top: 2%;
    float: right;
    margin-right: 2%;
    outline: none;
}
#submit {
    position: absolute;
    right: 0;
    bottom: -25px;
    width: 25%;
    height: auto;
    /* background: #b9eae6; */
    box-shadow: none;
    border: none;
    border: solid 1.5px beige;
    border-radius: 0.9rem;
    outline: none;
}
::selection{   
    background:#d3d3d3;    
    color:#555;   
}   
:hover{   
    background:#d3d3d3;    
    color:#555;   
}   
#sidebar {
    float: right;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 8rem;
    border: solid 1.4px #d9bd87;
    padding: 1%;
    border-radius: 0.3rem;
    /* display: none; */
    z-index: 99;
    bottom: 8%;
    right: 5%;
    background: #232121c4;
}
#sidebar>img {
    width: auto;
    height: 40%;
    margin-left: 10%;
}
#user{
    margin-top: 15%;
}
#home{
    margin-top: 45%;
}
#search_bar {
    margin-left: 10%;
    /* width: 100%; */
    /* height: max-content; */
    display: grid;
    grid-auto-columns: 90%;
    grid-auto-rows: min-content;
    /* background-color: #e1e1e1; */
    margin-top: 45%;
}
#bar_back{
    width: 80%;
    height: auto;
    position: absolute;
    z-index: -1;
    margin-top: -2rem;
}
.input_container,.selection_container{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    /* background-color: #e1e1e1; */
    margin-left: 1%;
    text-size-adjust: auto;
    border: solid transparent;
    margin-top: 3%;
}
#name_input{
    width: 100%;
}
#furni_name{
    width: 70%;
}
label.input ,.add {
    font-size: 0.8rem;
    color: #ffd7a1;
}
.text_input {
    -webkit-appearance: none;
    border: none;
    height: 80%;
    width: 40%;
    margin-left: 15px;
    border: solid #ffd7a1 1.2px;
    border-radius: 0.3rem;
    background: transparent;
    color: #f2bf7b;
    padding-left: 4px;
}
.selection {
    -webkit-appearance: none;
    border: none;
    width: 60%;
    margin-left: 5%;
    height: 70%;
    border: solid #ffd7a1 1.2px;
    border-radius: 0.4rem;
    padding-left: 5px;
    color: #e7c495;
    outline-color: #dd4768;
    outline-width: 2px;
    background: none;
    padding-bottom: 2px;
}
.option{
    -webkit-appearance: none !important;
    background: #4f4d4d;
    color: white;
}
#show_search,#show_search1 {
    visibility: hidden;
    display: grid;
    height: max-content;
    width: 80%;
    margin-left: 10%;
    grid-gap: 3%;
    grid-template-rows: repeat(5,30vw);
    grid-template-columns: repeat(3,28.6%);
    grid-row-gap: 4%;
    grid-column-gap: 7%;
}
#addManage {
    display: none;
    width: 60%;
    margin-left: 20%;
}
#ifManager{
    display: none;
}
#addFurni{

        -webkit-appearance: none;
        border: none;
        background-repeat: no-repeat;
        background-size: cover;
        background: url(../img/btn_back.png);
        padding-right: 12px;
        color: #595045;
        font-size: 1.4rem;
}
#search {
    width: 1.6rem;
    height: auto;
    float: right;
    margin-right: 20%;
    /* margin-top: -3rem; */
    outline: none;
    /* right: 20%; */
    /* position: absolute; */
    z-index: 99;
}
#h2_search{
    visibility: hidden;
    height: auto;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 3%;
    display: table-caption;
    margin-left: 10%;
}
.search_result {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(../img/book.png);
    background-size: 100% 100%;
}
#more{
    position: fixed;
    bottom: 18px;
    width: 20px;
    height: auto;
    right: 2rem;
    z-index: 8;
}
.furni_conver {
    width: 60%;
    height: auto;
    margin-top: 10%;
}
li.name {
    margin-top: 9%;
    margin-bottom: 2%;
    margin-right: 9%;
    font-size: 2vw;
    font-weight: 600;
    color: #d4be92;
    width: 2vw;
    display: block;
    float: right;
    height: 18vw;
    writing-mode: vertical-rl;
    overflow-x: hidden;
    text-align: start;
}
li.info {
    display: -webkit-box;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-right: 5px;
    margin-left: 10%;
    overflow-wrap: break-word;
    text-overflow: clip;
    text-align: left;
    font-size: 0.7rem;
    color: #535353;
}
#alert>h1 {
    font-weight: 400;
    margin-top: 5px;
    font-size: 1.8rem;
}
#alert>.input_container,.selection_container,#addManage>.input_container{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    background: none;
    margin-left: 1%;
    text-size-adjust: auto;
    border: solid transparent;
}
#alert_h2 {
    /* display: none; */
    width: 95%;
    /* height: max-content; */
    margin: 0;
    line-height: 6vw;
    /* overflow-y: scroll; */
    font-size: 3vw;
    height: max-content;
    font-weight: 100;
    color: white;
}
#alert {
    display: none;
    /* transform: scale(0.8); */
    position: fixed;
    width: 70%;
    height: 50%;
    top: 18%;
    left: 15%;
    z-index: 99;
    text-align: left;
    padding-left: 3%;
    color: white;
    border-radius: 1.5rem;
    background: linear-gradient(180deg, rgba(178, 132, 72, 0.91) 20%, rgba(36, 34, 28, 0.87) 80%);
    border: solid 4px rgb(255, 231, 159);
}
.alert_input,.add_type {
    background: none;
    border: none;
    border-radius: 0.4rem;
    border: solid 1.2px #fffbcb;
    margin-left: 0.3rem;
    height: 25px;
    color: white;
    font-size: medium;
    padding-left: 8px;
    font-weight: lighter;
    outline: none;
    width: 12rem;
}
#h1{
    width: 100%;
    height: auto;
    position: absolute;
    /* margin-bottom: 3rem; */
    margin: 0;
    top: 0;
    left: 0;
    z-index: -9;
}
#show_info {
    display: block;
    margin-top: 45%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    background: url(../img/normal.png);
    background-size: 100% 93%;
    background-position: left;
    background-repeat: no-repeat;
    display: none;
}
.info_btn {
    height: 4vw;
    margin-left: 3vw;
    outline: none;
}
.info_pic{
    width: 60%;
    height: 50%;
    margin: 0;
    float: right;
    border: solid 1.5px #b79263b8;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
}
.info_title{
    margin: 0;
    width: 36%;
    float: left;
    color: #e8cfa1;
    text-align: left;
    height: 30%;
    margin-top: 6%;
    margin-left: 3%;
}
#info_title{
    margin: 0;
    font-size: 8vw;
}
#info{
    float: right;
    text-align: left;
    margin-left: 13px;
    padding-right: 13px;
    color: #b0936b;
    font-size: 13px;
    max-height: 35%;
    line-height: 24px;
    overflow: scroll;
    width: 90%;
    min-height: 32%;
}
.buttons{
    display: flex;
    width: auto;
    float: right;
}
#next {
    height: 10%;
    position: relative;
    float: right;
    outline: none;
    margin-top: -8%;
}
#pic1,#pic2,#pic3,#pic4{
    width: 90%;
    height: 80%;
    margin-top: 15%;
}
#pic2,#pic3,#pic4{
    display: none;
}
.page,.show{
    display: none;
}
#show_user>h4,#show_manager>h4{
    background: url(../img/title_bar.png);
    margin-top: 50%;
    width: 80%;
    margin-left: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    font-size: 0.6rem;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
    color: #232121;
}
.new_button {
    -webkit-appearance: none;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../img/btn_back.png);
    padding-right: 12px;
    color: #595045;
    font-size: 1.4rem;
    /* border-radius: 0.3rem; */
    float: left;
    margin-top:-11rem;
    margin-left: 4rem;
    font-family: 'title';
    font-weight: 600;
}
input#管理员登录,input#普通账户登录{
    margin-top: -13.2rem;
}
input#普通登录{
    margin-top: -14rem;
}
input#注册普通账户{
    margin-top: -16rem;
}
input#普通账户登录 {
    margin-top: -13.2rem;
    margin-left: 4rem;
}
.welcome{
    float: left;
    margin-top: -5%;
    color: #d0a871;
    width: 50%;
    margin-left: 35%;
    text-align: right;
    font-size: 0.8rem;
}
.intro{
    color: wheat;
    width: 60%;
    margin-left: 20%;
    text-align: left;
    float: left;
}
select#申请权限 {
    width: 10rem;
}
h3::after {
    content: '';
    position: absolute;
    width: 20rem;
    height: 2.4rem;
    background: #232121;
    left: 2rem;
    margin-top: -2.4rem;
    animation: typing 4s forwards;
    animation-timing-function: linear;
}
@keyframes typing{
    0%{
        width: 20rem;
        height: 4.8rem;
        left: 2rem;
        margin-top: -2.4rem;
    }
    99%{
        height: 4.8rem;
        left: 20.2rem;
        width: 1.8rem;
        background: #232121;
    }
    100%{
        height: 4.8rem;
        left: 20.2rem;
        width: 2rem;
        background: none;
    }
}